@model Siglo21.Negocio.Usuario

@{
    ViewBag.Title = "ModificarUsuario";
    List<SelectListItem> ListaTipoUsuario = (List<SelectListItem>)ViewBag.ListaTipoUsuario;
}

@using (Html.BeginForm("ModificarUsuario", "Home", FormMethod.Post))

{
    <h2>ModificarUsuario</h2>

   
    <div class="mb-3">
        <label for="username" class="form-label">
            Ingrese usuario
        </label>
        <input type="text" class="form-control" name="username" value="@ViewBag.ListaUsuario.USERNAME" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">
            Ingrese contraseña
        </label>
        <input type="password" class="form-control" name="password" value="@ViewBag.ListaUsuario.PASSWORD" />
    </div>
    <div class="mb-3">
        <label for="nombre" class="form-label">
            Ingrese Nombre
        </label>
        <input type="text" class="form-control" name="nombre" value="@ViewBag.ListaUsuario.NOMBRE" />
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">
            Ingrese Apellido
        </label>
        <input type="text" class="form-control" name="apellido" value="@ViewBag.ListaUsuario.APELLIDO"/>
    </div>
    <div class="mb-3">
        <label for="rut" class="form-label">
            Ingrese Rut
        </label>
        <input type="text" class="form-control" name="rut" value="@ViewBag.ListaUsuario.RUT"/>
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label">
            Ingrese Telefono
        </label>
        <input type="text" class="form-control" name="telefono" value="@ViewBag.ListaUsuario.TELEFONO" />
    </div>
    <div class="mb-3">
        <label for="estado" class="form-label">
            Activo
        </label>
        <input type="checkbox" class="form-control" name="estado" value="@ViewBag.ListaUsuario.ESTADO" />
    </div>
    <div class="mb-3">
        @Html.DropDownListFor(d => d.TipoUsuario, new List<SelectListItem>
     {
         new SelectListItem() {Text = "ADMINISTRADOR", Value="1"},
         new SelectListItem() {Text = "CLIENTE", Value="2"},
         new SelectListItem() {Text = "BODEGERO", Value="3"}
      }, new { @class = "form-control", @style = "width: 50%" , @value = ViewBag.ListaUsuario.ID_TIPO_USUARIO })

    </div>

    <button type="submit" class="btn btn-primary">Modificar Usuario</button>
}