@using Siglo21.Negocio
@model List<Insumo>

@{
    ViewBag.Title = "_ListarInsumo";
}

<h2>_ListarInsumo</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].Id_Insumo)</td>
            <td>@Html.LabelFor(p => Model[0].Nombre_Insumo)</td>
            <td>@Html.LabelFor(p => Model[0].Descripcion)</td>
            <td>@Html.LabelFor(p => Model[0].Precio_Unitario)</td>
            <td>@Html.LabelFor(p => Model[0].Stock)</td>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id_Insumo</td>
    <td>@item.Nombre_Insumo</td>
    <td>@item.Descripcion</td>
    <td>@item.Precio_Unitario</td>
    <td>@item.Stock</td>
    <td>@Html.ActionLink("Actualizar", "ModificarInsumo", new { id = item.Id_Insumo }, new { @class = "btn btn-warning" })
    <td> @Html.ActionLink("Eliminar", "EliminarInsumo", new { id = item.Id_Insumo }, new { @class = "btn btn-danger" })
</tr>
    }

</table>
